<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <nav th:fragment="navbar" class="navbar">

        <div class="navbar_brand">
            <a th:href="@{/}">KDTech School</a>
        </div>

        <ul class="navbar_menu">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/teachers}">Teachers</a></li>
            <li><a th:href="@{/students}">Students</a></li>
            <li><a th:href="@{/Dashboard}">Dashboard</a></li>
        </ul>
    </nav>
    
</body>
</html>