<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 th:text="${student.id != null ? 'Edit Student' : 'Add Student'}"></h1>

    <form th:action="@{/students/save}" method="post" th:object="${student}">

        <input type="hidden" th:field="*{id}">
        <fieldset>
            <legend>Identity</legend>

            <label>Student Code</label><br>
            <input type="text" th:field="*{studentCode}" placeholder="Student Code" required><br><br>

            <label>First Name</label><br>
            <input type="text" th:field="*{firstName}" placeholder="First Name" required><br><br>
        
            <label>Last Name</label><br>
            <input type="text" th:field="*{lastName}" placeholder="Last Name" required><br><br>

            <label>Email</label><br>
            <input type="email" th:field="*{email}" placeholder="Email" required><br><br>
            
            <label>Phone</label><br>
            <input type="text" th:field="*{phone}" placeholder="Phone" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Personal Information</legend>

            <label>Address</label><br>
            <input type="text" th:field="*{address}" placeholder="Address" required><br><br>

            <label>Birth Date</label><br>
            <input type="date" th:field="*{dateOfBirth}" placeholder="Birth Date" required><br><br>

            <label>Gender</label><br>
            <select th:field="*{gender}" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                <option value="Prefer not to say">Prefer not to say</option>
            </select><br><br>

            <label>Nationality</label><br>
            <input type="text" th:field="*{nationality}" placeholder="Nationality" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Academic Information</legend>

            <label>Academic Level</label><br>
            <select type="text" th:field="*{academicLevel}" placeholder="academicLevel" required>
                <option value="">Select Academic Level</option>
                <option value="Degree">Degree</option>
                <option value="Master">Master</option>
                <option value="Certification">Certification</option>
                <option value="Bootcamp">Bootcamp</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label>Program</label><br>
            <input type="text" th:field="*{program}" placeholder="Program" required><br><br>

            <label>Specialization</label><br>
            <input type="text" th:field="*{specialization}" placeholder="Specialization" required><br><br>

            <label>Enrolled</label><br>
            <input type="checkbox" th:field="*{enrolled}" placeholder="Enrolled"><br><br>
        </fieldset>

        <fieldset>
            <legend>Guardian</legend>

            <label>Guardian Name</label><br>
            <input type="text" th:field="*{guardianName}" placeholder="Guardian Name" required><br><br>

            <label>Guardian Email</label><br>
            <input type="email" th:field="*{guardianEmail}" placeholder="Guardian Email" required><br><br>

            <label>Guardian Phone</label><br>
            <input type="text" th:field="*{guardianPhone}" placeholder="Guardian Phone" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Enrollment Information</legend>

            <label>Enrollment Number</label><br>
            <input type="text" th:field="*{enrollmentNumber}" placeholder="Enrollment Number" required><br><br>

            <label>Enrollment Date</label><br>
            <input type="date" th:field="*{enrollmentDate}" placeholder="Enrollment Date" required><br><br>
        </fieldset>

        <button type="submit">Save Student</button>
        <a href="/students">Back to List</a>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>